@charset "UTF-8";
/*=============================================================
# common
============================================================= */
@media (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

body {
  font-size: 16px;
  color: #333;
  font-family: "ヒラギノ明朝 ProN", "Yu Mincho", serif;
  line-height: 1.6875;
}

img {
  width: 100%;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media (max-width: 767px) {
  .inner {
    padding: 0 15px;
  }
}

/*=============================================================
# header
============================================================= */
.header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.drawer--right .header .drawer-hamburger {
  right: 3px;
}

.header .drawer-hamburger-icon {
  background-color: #3EA1D1;
}

.drawer-open .header .drawer-hamburger-icon {
  background: transparent;
}

.header .drawer-hamburger-icon::before, .header .drawer-hamburger-icon::after {
  background: #3EA1D1;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .header-inner {
    height: 60px;
  }
}

.header-logo {
  width: 120px;
}

.header-nav {
  margin-left: auto;
}

@media (max-width: 767px) {
  .header-nav {
    top: 60px;
    background-color: #3EA1D1;
    padding: 24px 0;
  }
}

@media (min-width: 768px) {
  .header-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .header-nav-item + .header-nav-item {
    margin-left: 46px;
  }
}

.header-nav-item-link {
  display: block;
  color: #333;
  letter-spacing: .1em;
  height: 70px;
  line-height: 70px;
}

@media (max-width: 767px) {
  .header-nav-item-link {
    color: #fff;
    font-size: 18px;
    text-align: right;
    padding: 0 15px;
    height: 60px;
    line-height: 60px;
  }
}

@media (min-width: 768px) {
  .header-nav-item-link {
    -webkit-transition: color .4s;
    transition: color .4s;
  }
  .header-nav-item-link:hover {
    color: #3EA1D1;
  }
}

/*=============================================================
# footer
============================================================= */
.footer {
  background: #f7f7f7;
  padding: 42px 40px 12px;
}

@media (max-width: 767px) {
  .footer {
    padding: 36px 0 14px;
  }
}

.footer-logo {
  width: 120px;
  margin: 0 auto;
}

.footer-nav-list {
  margin-top: 8px;
}

@media (min-width: 768px) {
  .footer-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  .footer-nav-list {
    text-align: center;
    margin-top: 16px;
  }
}

@media (min-width: 768px) {
  .footer-nav-item + .footer-nav-item {
    margin-left: 30px;
  }
}

.footer-nav-item-link {
  font-size: 12px;
  color: #333;
  display: block;
  padding: 1em 0;
}

@media (max-width: 767px) {
  .footer-nav-item-link {
    padding: .3em;
  }
}

@media (min-width: 768px) {
  .footer-nav-item-link {
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
  }
  .footer-nav-item-link:hover {
    opacity: .7;
  }
}

.footer-sns-list {
  text-align: center;
}

@media (max-width: 767px) {
  .footer-sns-list {
    margin-top: 14px;
  }
}

.footer-sns-item {
  display: inline-block;
}

.footer-sns-item + .footer-sns-item {
  margin-left: 10px;
}

.footer-sns-item-link {
  color: #3EA1D1;
  font-size: 24px;
  display: block;
  padding: .1em .5em;
}

@media (min-width: 768px) {
  .footer-sns-item-link {
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
  }
  .footer-sns-item-link:hover {
    opacity: .7;
  }
}

.footer-copyright {
  color: #888;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 767px) {
  .footer-copyright {
    margin-top: 5px;
  }
}

/*=============================================================
# main common
============================================================= */
.main {
  padding-top: 70px;
}

@media (max-width: 767px) {
  .main {
    padding-top: 60px;
  }
}

.section {
  margin-top: 160px;
}

@media (max-width: 767px) {
  .section {
    margin-top: 96px;
  }
}

/*=============================================================
# util
============================================================= */
.util-title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
}

@media (max-width: 767px) {
  .util-title {
    font-size: 30px;
  }
}

.util-title::after {
  content: "";
  display: block;
  height: 1px;
  width: 60px;
  background: #3EA1D1;
  margin: 16px auto 0;
}

.util-link {
  font-size: 14px;
  letter-spacing: .1em;
  color: #3EA1D1;
  border: solid 1px #3EA1D1;
  background: #fff;
  display: inline-block;
  padding: 10px 54px;
  -webkit-transition: background-color .4s, color .4s;
  transition: background-color .4s, color .4s;
}

.util-link.-active {
  background: #3EA1D1;
  color: #fff;
}

@media (min-width: 768px) {
  .util-link:not(.-submit):hover {
    background: #3EA1D1;
    color: #fff;
  }
}

/*=============================================================
# top
============================================================= */
.top {
  position: relative;
}

@media (min-width: 768px) {
  .top-picture {
    padding-top: 55%;
    background: url(../img/top.png) top right/82.5% no-repeat;
  }
}

@media (max-width: 767px) {
  .top-picture {
    padding-top: 120%;
    background: url(../img/sp/top.png) center center/cover;
  }
}

@media (max-width: 767px) {
  .top-message {
    margin-top: 31px;
  }
}

@media (min-width: 768px) {
  .top-message {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background: #fff;
    padding: 82px 44px 90px 40px;
  }
}

.top-message-title {
  font-size: 26px;
  font-weight: bold;
}

.top-message-text {
  margin-top: 18px;
}

/*=============================================================
# concept
============================================================= */
.concept-inner {
  margin-top: 64px;
}

@media (min-width: 768px) {
  .concept-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767px) {
  .concept-inner {
    margin-top: 46px;
  }
}

@media (min-width: 768px) {
  .concept-picture {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (max-width: 767px) {
  .concept-message {
    margin-top: 35px;
  }
}

@media (min-width: 768px) {
  .concept-message {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-left: 6.66667%;
  }
}

.concept-message-title {
  font-size: 20px;
  font-weight: bold;
}

.concept-message-text {
  margin-top: 36px;
}

@media (max-width: 767px) {
  .concept-message-text {
    margin-top: 22px;
  }
}

/*=============================================================
# feature
============================================================= */
@media (max-width: 767px) {
  .feature {
    max-width: 340px;
  }
}

.feature-list {
  margin-top: 64px;
}

@media (min-width: 768px) {
  .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .feature-list {
    margin-top: 46px;
  }
}

@media (min-width: 768px) {
  .feature-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 28.33333%;
            flex: 0 0 28.33333%;
  }
}

@media (max-width: 767px) {
  .feature-item + .feature-item {
    margin-top: 49px;
  }
}

.feature-item-link {
  display: block;
  color: #333;
  background: #fff;
  -webkit-box-shadow: 3px 3px 15px rgba(96, 96, 96, 0.16);
          box-shadow: 3px 3px 15px rgba(96, 96, 96, 0.16);
}

@media (min-width: 768px) {
  .feature-item-link:hover .feature-item-picture > img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.feature-item-picture {
  overflow: hidden;
}

.feature-item-picture > img {
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.feature-item-body {
  text-align: center;
  font-weight: bold;
  padding: 26px 12px;
}

/*=============================================================
# about
============================================================= */
.about {
  color: #fff;
  position: relative;
  padding: 120px 0;
}

@media (min-width: 768px) {
  .about {
    background: url(../img/bg.png) center center/cover;
  }
}

@media (max-width: 767px) {
  .about {
    background: url(../img/sp/bg.png) center center/cover;
    padding: 176px 0 52px;
  }
}

.about::before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.12);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about-inner {
  position: relative;
}

.about-title {
  font-size: 22px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .about-title {
    font-size: 20px;
  }
}

.about-text {
  margin-top: 28px;
}

@media (max-width: 767px) {
  .about-text {
    font-size: 14px;
    margin-top: 22px;
    line-height: 1.71429;
  }
}

/*=============================================================
# products
============================================================= */
.products {
  max-width: 940px;
}

@media (max-width: 767px) {
  .products {
    max-width: 340px;
    padding: 0 58px;
  }
}

.products-list {
  margin-top: 64px;
}

@media (max-width: 767px) {
  .products-list {
    margin-top: 48px;
  }
}

@media (min-width: 768px) {
  .products-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .products-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 27.65957%;
            flex: 0 0 27.65957%;
  }
}

@media (max-width: 767px) {
  .products-item + .products-item {
    margin-top: 40px;
  }
}

.products-item-link {
  display: block;
  color: #333;
  font-size: 14px;
}

@media (min-width: 768px) {
  .products-item-link:hover .products-item-picture > img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.products-item-picture {
  overflow: hidden;
}

.products-item-picture > img {
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.products-item-body {
  margin-top: 22px;
}

.products-item-cost {
  margin-top: 10px;
  color: #989898;
}

.product-footer {
  text-align: center;
  margin-top: 44px;
}

@media (max-width: 767px) {
  .product-footer {
    margin-top: 42px;
  }
}

/*=============================================================
# news
============================================================= */
.news {
  max-width: 1040px;
}

@media (max-width: 767px) {
  .news {
    padding: 0 32px;
  }
}

.news-list {
  margin-top: 28px;
}

@media (max-width: 767px) {
  .news-list {
    margin-top: 25px;
  }
}

.news-item {
  border-bottom: 1px solid #E0E0E0;
}

.news-item-link {
  color: #333;
  font-size: 14px;
  padding: 22px 0;
  display: block;
}

@media (min-width: 768px) {
  .news-item-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news-item-link:hover .news-item-picture > img {
    -webkit-transform: translate(-50%, -50%) scale(1.05);
            transform: translate(-50%, -50%) scale(1.05);
  }
}

@media (min-width: 768px) {
  .news-item-header {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 260px;
            flex: 0 0 260px;
  }
}

.news-item-picture {
  padding-top: 61.53846%;
  position: relative;
  overflow: hidden;
}

.news-item-picture > img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

@media (max-width: 767px) {
  .news-item-body {
    margin-top: 21px;
  }
}

@media (min-width: 768px) {
  .news-item-body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-left: 40px;
  }
}

.news-item-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 4px;
}

@media (max-width: 767px) {
  .news-item-title {
    font-size: 16px;
  }
}

.news-item-text {
  color: #888;
  margin-top: 16px;
  line-height: 1.71429;
}

.news-footer {
  text-align: center;
  margin-top: 48px;
}

/*=============================================================
# concept2
============================================================= */
@media (min-width: 768px) {
  .concept2-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media (min-width: 768px) {
  .concept2-picture {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (min-width: 768px) {
  .concept2-message {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-right: 6.66667%;
  }
}

@media (max-width: 767px) {
  .concept2-message {
    margin-top: 34px;
  }
}

.concept2-message-title {
  font-size: 28px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .concept2-message-title {
    font-size: 20px;
  }
}

.concept2-message-text {
  margin-top: 30px;
}

@media (max-width: 767px) {
  .concept2-message-text {
    font-size: 14px;
    line-height: 1.71429;
  }
}

/*=============================================================
# contact
============================================================= */
.contact {
  background: url(../img/contact.png) center center/cover;
  margin-top: 225px;
  padding: 72px 40px 86px;
}

@media (max-width: 767px) {
  .contact {
    margin-top: 92px;
    padding: 56px 28px;
  }
}

.contact .util-title {
  color: #3EA1D1;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  width: 100%;
  border: 0;
  font-size: 16px;
  padding: .2em .5em;
  -webkit-box-shadow: 5px 6px 16px rgba(96, 96, 96, 0.16);
          box-shadow: 5px 6px 16px rgba(96, 96, 96, 0.16);
  border-radius: 2px;
}

.contact input[type="text"],
.contact input[type="email"] {
  height: 40px;
}

.contact textarea {
  min-height: 122px;
  resize: vertical;
}

.contact-form {
  margin-top: 56px;
}

@media (max-width: 767px) {
  .contact-form {
    margin-top: 26px;
  }
}

.contact-text {
  font-size: 14px;
  letter-spacing: .1em;
  text-align: center;
}

.contact-text-inline {
  font-size: 16px;
  color: #E7728E;
}

.contact-list {
  max-width: 510px;
  margin: 18px auto 0;
}

@media (min-width: 768px) {
  .contact-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact-item + .contact-item {
  margin-top: 32px;
}

.contact-item-title {
  background: rgba(62, 161, 209, 0.7);
  color: #fff;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding-left: 10px;
  position: relative;
}

@media (min-width: 768px) {
  .contact-item-title {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (min-width: 768px) {
  .contact-item-title::after {
    content: "";
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 20px 0 20px 8px;
    border-color: transparent transparent transparent rgba(62, 161, 209, 0.7);
    top: 0;
    right: -8px;
  }
}

@media (max-width: 767px) {
  .contact-item-title {
    display: inline-block;
    font-size: 14px;
    line-height: 32px;
    height: 32px;
    padding: 0 16px;
  }
}

.contact-item-title-inline {
  font-size: 12px;
  color: #e7728e;
  vertical-align: super;
  line-height: 1;
}

@media (max-width: 767px) {
  .contact-item-title-inline {
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  .contact-item-input {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 320px;
            flex: 0 0 320px;
    margin-left: 18px;
  }
}

@media (max-width: 767px) {
  .contact-item-input {
    margin-top: 3px;
  }
}

.contact-radio-wrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 1px;
  -webkit-box-shadow: 5px 6px 16px rgba(96, 96, 96, 0.16);
          box-shadow: 5px 6px 16px rgba(96, 96, 96, 0.16);
  border: solid 1px #fff;
}

.contact-radio {
  position: relative;
}

.contact-radio-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.contact-radio-input:checked + .contact-radio-part {
  background: #3EA1D1;
  color: #fff;
  border-radius: 1px;
}

.contact-radio-input:focus + .contact-radio-part {
  outline: -webkit-focus-ring-color auto 1px;
}

.contact-radio-part {
  display: block;
  background: #fff;
  color: #3EA1D1;
  height: 38px;
  line-height: 38px;
  width: 80px;
  text-align: center;
  -webkit-transition: background-color .4s, color .4s;
  transition: background-color .4s, color .4s;
}

.contact-footer {
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .contact-footer {
    margin-top: 14px;
  }
}

.contact-privacy {
  position: relative;
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
}

.contact-privacy-part {
  display: inline-block;
  height: 22px;
  width: 22px;
  border: solid 1px #3EA1D1;
  background: #fff;
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.contact-privacy-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.contact-privacy-input:checked + .contact-privacy-part {
  width: 10px;
  border-top: 0;
  border-left: 0;
  background: transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -5px;
  left: 5px;
}

.contact-privacy-input:focus + .contact-privacy-part {
  outline: -webkit-focus-ring-color auto 1px;
}

.contact-privacy-input:checked:focus + .contact-privacy-part {
  outline: none;
}

.contact-privacy-link {
  color: #3EA1D1;
  text-decoration: underline;
}

.contact-footer-submit {
  margin-top: 46px;
}

@media (max-width: 767px) {
  .contact-footer-submit {
    margin-top: 24px;
  }
}

.contact-message {
  display: none;
  text-align: center;
  margin-top: 60px;
}

.contact-message.-error {
  color: #f00;
}
